.colorration-component-body { 
    padding: 2% 0% 0% 0%;
}
.colorration-component-body .margin-style{
    margin: 0% 8% 0% 26%;
}
.colorration-component-body .header-title {
    font-family: Arial, sans-serif;
    color: #0a7de2;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 30px;
}
.colorration-component-body .div-title {
    display: flex;
    justify-content: space-between;
    margin: 0% 8% 0% 26%;
}
.colorration-component-body p {
    font-family: Arial, sans-serif;
    color: #031c5d;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.colorration-component-body ul {
    font-family: Arial, sans-serif;
    color: #031c5d;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.colorration-component-body .title {
    font-size: 60px;
    color: black;
    margin-bottom: 10px;
}
.colorration-component-body span {
    font-weight: 800;
}
.colorration-component-body .footer{
    background-color: #ebe9dc;
}
.footer {
    padding: 2% 0% 2% 0%;;
}
.footer-overview {
    margin-top: 50px;
}

.colorration-component-body .card-body {
    display: flex;
    justify-content:flex-start;
    border: 1px solid #c8c4bf;
}

.colorration-component-body .card-body .card {
    border-radius: 12px;
    border: 0px solid  #0a7de2;
    width: 400px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.colorration-component-body .card img {
    width: 200px;
    height: 200px;
}
.colorration-component-body .card-body p {
    float: right;
}

.colorration-component-body .color-card {
    border: 0px solid #c8c4bf;
}

.colorration-component-body .card1 {
    width: 50px;
    height: 160px;
    background: #0b110f;
}
.colorration-component-body .card2 {
    width: 300px;
    height: 160px;
    background: #030b58;
}
.colorration-component-body .card3 {
    width: 300px;
    height: 160px;
    background: #005cd6;
}
.colorration-component-body .card4 {
    width: 70px;
    height: 160px;
    background: #73b7da;
}
.colorration-component-body .card5 {
    width: 140px;
    height: 160px;
    background: #999a93;
}
.colorration-component-body .card6 {
    width: 400px;
    height: 160px;
    background: white;
}
.color-ratio {
    float: right;
    margin-bottom: 40px;
}