.container {
    padding: 5% 0% 0% 0%;
    /* height: 100vh; */
    color: white;
   
}
.colorgray-component-body {
    background-color: white;
    padding:  3% 0%;
}
.colorgray-component-body .margin-style{
    margin: 0% 8% 0% 26%;
}
.colorgray-component-body .logotypes {
    color: white;
}
.colorgray-component-body .header-title {
    font-family: Arial, sans-serif;
    color: white;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 30px;
}
.colorgray-component-body .div-title {
    display: flex;
    justify-content: space-between;
    margin: 0% 8% 0% 26%;
    color: white;
}
.colorgray-component-body p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.colorgray-component-body .gray-item span {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #b1b1b1;
    width: 80px;
}
.colorgray-component-body .gray-item p {
    font-family: Arial, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
    color: #00175A;
}
.colorgray-component-body a {
    color: white;
}
.colorgray-component-body .title {
    font-size: 60px;
    color: white;
    margin-bottom: 10px;
}
.colorgray-component-body span {
    font-weight: 800;
}
.colorgray-component-body .footer{
    background-color: #ebe9dc;
}
.footer {
    padding: 2% 0% 2% 0%;;
}
.footer-overview {
    margin-top: 50px;
}

.colorgray-component-body .card-body {
    display: block;
}
.colorgray-component-body .card-body .color-list {
    display: flex;
    margin-bottom: 20px;
}

.colorgray-component-body .card-body .color-item {
    border-radius: 12px;
    width: 600px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
 
}
.colorgray-component-body .card-body .color-item .color-panel1 {
    width: 110px;
    height: 110px;
    background-color: #d9d9d6;
}
.colorgray-component-body .card-body .color-item .color-pane2 {
    width: 110px;
    height: 110px;
    background-color: #d0d0ce;
}
.colorgray-component-body .card-body .color-item .color-panel3 {
    width: 110px;
    height: 110px;
    background-color: #c8c9c7;
}
.colorgray-component-body .card-body .color-item .color-panel4 {
    width: 110px;
    height: 110px;
    background-color: #bbbcbc;
}
.colorgray-component-body .card-body .color-item .color-panel5 {
    width: 110px;
    height: 110px;
    background-color: #b0b3b3;
}
.colorgray-component-body .card-body .color-item .color-panel6 {
    width: 110px;
    height: 110px;
    background-color: #97999b;
}
.colorgray-component-body .card-body .color-item .color-panel7 {
    width: 110px;
    height: 110px;
    background-color: #878b8d;
}
.colorgray-component-body .card-body .color-item .color-panel8 {
    width: 110px;
    height: 110px;
    background-color: #76787b;
}
.colorgray-component-body .card-body .color-item .color-panel9 {
    width: 110px;
    height: 110px;
    background-color: #53565a;
}
.colorgray-component-body .card-body .color-item .color-panel11 {
    width: 110px;
    height: 110px;
    background-color: #A7ABAA;
}
.colorgray-component-body .card-body .color-item {
    display: flex;
    /* width: 100%; */
}
.colorgray-component-body .card-body .color-item {
    margin-right: 20px;
}
.colorgray-component-body .card-body .color-item .color-property .color-items{
    display: flex;
}   

.colorgray-component-body .card-body .color-item .color-property .color-title {
    color: #00165a;
    font-weight: 700;
}
.colorgray-component-body .card-body .color-item .color-property .color-item-name {
    
    white-space: nowrap;
}
.colorgray-component-body .card-body .color-item .color-property .color-item-value {
    margin-left: 20px;
    white-space: nowrap;
}
.colorgray-component-body .card-body .color-item .color-property {
    margin-left: 20px;
}
.gray-item {
    display: flex;
}
.colorgray-component-body .card-body p {
    float: inherit;
    margin: auto;
    line-height: 23px;
}


