.container {
    padding: 5% 0% 0% 0%;
    /* height: 100vh; */
    color: white;
   
}
.component-body .margin-style{
    margin: 0% 22%;
}
.container .header-title {
    font-family: Arial, sans-serif;
    color: #0a7de2;
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 30px;
}
.container .div-title {
    display: flex;
    justify-content: space-between;
    margin: 0% 18% 0% 22%;
}
.container p {
    font-family: Arial, sans-serif;
    color: #031c5d;
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.container .title {
    font-size: 60px;
    color: black;
    margin-bottom: 10px;
}
.container span {
    font-weight: 800;
}
.container .footer{
    background-color: #ebe9dc;
}
.footer {
    padding: 2% 0% 2% 0%;;
}
.footer-overview {
    margin-top: 50px;
}

.card-body {
    display: flex;
    justify-content: space-between;
}

.card-body .card {
    border-radius: 12px;
    border: 2px solid  #0a7de2;
    width: 330px;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    width: 200px;
    height: 200px;
}
.card-body p {
    float: right;
}

.color-card {
    width: 170px;
    height: 160px;
    border: 2px solid #c8c4bf;
}

.card1 {
    background: #0b110f;
}
.card2 {
    background: #030b58;
}
.card3 {
    background: #005cd6;
}
.card4 {
    background: #73b7da;
}
.card5 {
    background: #999a93;
}
.card6 {
    background: white;
}
.color-ratio {
    float: right;
    margin-bottom: 40px;
}